In [27]:
# Dictionary

In [28]:
customer_29876 = {
 "first name": "David",
 "last name": "Elliott",
 "address": "4803 Wellesley St.",
 }

In [29]:
customer_29876

{'first name': 'David',
 'last name': 'Elliott',
 'address': '4803 Wellesley St.'}

In [30]:
# changing value

In [31]:
customer_29876['first name'] = 'Hassan'

In [32]:
customer_29876['first name']

'Hassan'

In [33]:
# del element

In [34]:
del customer_29876['first name']

In [35]:
customer_29876

{'last name': 'Elliott', 'address': '4803 Wellesley St.'}

In [36]:
# adding element

In [37]:
customer_29876['first name'] = 'Hassan'

In [38]:
customer_29876

{'last name': 'Elliott',
 'address': '4803 Wellesley St.',
 'first name': 'Hassan'}

In [39]:
# extracting values

In [40]:
for each_value in customer_29876.values():
    print(each_value)

Elliott
4803 Wellesley St.
Hassan

In [41]:
# extracting keys

In [42]:
for each_key in customer_29876.keys():
    print(each_key)

last name
address
first name

In [43]:
# extracting both

In [44]:
for each_key, each_value in customer_29876.items():
    print('Customer '+each_key+' is '+each_value)

Customer last name is Elliott
Customer address is 4803 Wellesley St.
Customer first name is Hassan

In [45]:
# list of dictionary

In [46]:
customers = [
 {
 "customer id": 0,
 "first name":"John",
 "last name": "Ogden",
    "address": "301 Arbor Rd.",
 },
 {
 "customer id": 1,
 "first name":"Ann",
 "last name": "Sattermyer",
 "address": "PO Box 1145",
 },
 {
 "customer id": 2,
 "first name":"Jill",
 "last name": "Somers",
 "address": "3 Main St.",
 },
 ]

In [49]:
customers

[{'customer id': 0,
  'first name': 'John',
  'last name': 'Ogden',
  'address': '301 Arbor Rd.'},
 {'customer id': 1,
  'first name': 'Ann',
  'last name': 'Sattermyer',
  'address': 'PO Box 1145'},
 {'customer id': 2,
  'first name': 'Jill',
  'last name': 'Somers',
  'address': '3 Main St.'}]

In [56]:
for customer in customers:
    for customer_key,customer_value in customer.items():
            print(customer_key,customer_value)

customer id 0
first name John
last name Ogden
address 301 Arbor Rd.
customer id 1
first name Ann
last name Sattermyer
address PO Box 1145
customer id 2
first name Jill
last name Somers
address 3 Main St.

In [61]:
id = customers[2]['customer id']

In [62]:
id

2

In [63]:
new_customer_id = len(customers)

In [64]:
new_customer_id

3

In [ ]:
# insert new dictionary to list

In [68]:
# creating first

new_dictionary = {
"customer id": 3,
"first name": "Hill",
"last name": "Jack",
"address": "4 Mian City",
}

In [69]:
# append into the list of dictionary
customers.append(new_dictionary)

In [71]:
# customers

In [72]:
# Dictionary contains list

In [73]:
customer_29876 = {
 "first name": "David",
 "last name": "Elliott",
 "address": "4803 Wellesley St.",
 "discounts": ["standard", "volume", "loyalty"],
}

In [74]:
customer_29876["discounts"]

['standard', 'volume', 'loyalty']

In [75]:
customer_29876["discounts"].append('new')

In [76]:
customer_29876["discounts"]

['standard', 'volume', 'loyalty', 'new']

In [77]:
customer_29876["discounts"].pop()

'new'

In [78]:
customer_29876["first name"]

'David'

In [79]:
# dictionary of dictionary

In [80]:
customers = {
 0: {
 "first name":"John",
 "last name": "Ogden",
 "address": "301 Arbor Rd.",
 },
    
 1: {
 "first name":"Ann",
 "last name": "Sattermyer",
 "address": "PO Box 1145",
 },
    
 2: {
 "first name":"Jill",
 "last name": "Somers",
 "address": "3 Main St.",
 },
 }

In [82]:
customers[0]['address']

'301 Arbor Rd.'